{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background:linear-gradient(45deg,#ffaf00,#bb02ff) ;
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.container
{
    position: relative;
    width: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    width: 300px;
    height: 420px;
    background: white;
    margin:20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.container .card .circle
{
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    clip-path:circle(190px at center 0);
    text-align: center;
}
.container .card .circle h2
{
    color: aliceblue;
    font-size: 4.5em;
    padding: 30px 0px;
}
.container .card .content
{
    position: absolute;
    bottom: 10px;
    page-break-after: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.container .card .content p
{
    color: #666;
    
}
.container .card .content a
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a
{
    background: #da2268;
    
}
.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a
{
    background: #ffaf00;
}
.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a
{
    background: #bb02ff;
}
@media screen and (max-width:750px)
{

}